@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Poppins:wght@200;400&display=swap');

body {
    font-family: 'Poppins', serif;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 100pt;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h2{
    font-size: 30pt;
    font-family: sans-serif;
}

h2{
    font-size: 25pt;
    font-family: sans-serif;
}

p {
    font-size: 20pt;
    font-family: sans-serif;
}

a:link, a:visited{
    font-size: 15pt;
    font-family: 'Poppins', sans-serif; 
    font-weight: 200;
    text-decoration: none;
    color: black;
}