@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,300&display=swap');

body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.login {
    position: relative;
    top: 38vh;
    left: 35vw;
    padding: 30px;
    background-color: white;
    color: black; 
    width: 450px;
}

.logintitle {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
}

.logininfo {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}

.notification {
    display: inline-block;
    position: relative;
    font-family: "Questrial", sans-serif;
    font-size: 15pt;
    top: 60vh;
    left: 44.5vw;
    animation-duration: 2s;
    animation-name: notification;
    animation-delay: 2s;
    animation-iteration-count: 5;
    z-index: 5;
}

@keyframes notification{
0% {left: 44.5vw; top: 60vh}
25% {left: 44.5vw; top: 55vh}
}

.arrow {
        position: absolute;
        left: 48vw;
        top: 90vh;
        height: 2vw;
        width: 2vw;
        box-sizing: border-box;
        border-style: solid;
        border-color: white;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
        animation-duration: 2s;
        animation-name: arrow;
        animation-delay: 2s;
        animation-iteration-count: 5;
        z-index: 5;
}

.arrow:hover {
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
  
  @keyframes arrow {
    0%   {left:48vw; top:90vh}
    25%   {left:48vw; top:85vh}
  }

  #gmailapp {
      display: block;
      position: relative;
      top: 100vh;
      left: 36vw;
      padding-bottom: 20vh;
      width: 30vw;
      animation-duration: 1s;
      animation-name: gmailapp;
      animation-delay: 2s;
      animation-iteration-count: 6;
      z-index: 5;
  }

  @keyframes gmailapp {
    0%   {left:36vw; top:100vh}
    25%   {left:36vw; top:95vh}
  }