@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Rubik+Glitch&display=swap');
body {
    z-index: 5;
    margin: 0;
    padding: 0;
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    background: rgb(131,58,180);
    background: linear-gradient(142deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  } 

.container {
    z-index: 5;
    position: fixed;
    display:  flex;
    font-family: 'Future', sans-serif;
    font-size:  10vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    left: 50%;
  }

  